{% extends 'base.html.twig' %}
{% block head %}
    <meta http-equiv="refresh" content="3 ; URL= /symfony/sortircom/public/">
{% endblock %}
{% block title %}Créer une sortie{% endblock %}
{% block javascripts %}
<script>


</script>
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div id="title"><h1>Créer une sortie</h1></div><br/>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.dateHourBeginning) }}
        {{ form_row(form.deadlineRegistration) }}
        {{ form_row(form.nbRegistrationsMax) }}
        {{ form_row(form.duration) }}
        {{ form_row(form.outingInfos) }}
        <div class="form-group row">
            <label class="col-form-label col-sm-2 required" for="create_outing_site">Ville Organisatrice :</label>{{ app.user.site.name }}
        </div>
        {{ form_row(form.city) }}
        {{ form_row(form.place) }}

        <button id="saveBtn" type="submit" class="btn btn-primary" data-label="Enregistrer" name="saveBtn" value="save" >
            Enregistrer
        </button>
        <button id="publishBtn" type="submit" class="btn btn-primary" data-label="PublierSortie" name="publishBtn" value="publish">
            Publier la sortie
        </button>
        <button type="reset" class="btn btn-primary" data-label="Annuler">
            <a href="{{ path('home') }}">Annuler</a>
        </button>


    {{ form_end(form) }}

    </div>
{% endblock %}


